name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. SETUP NODE JS v22 (Wajib buat Capacitor terbaru)
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      # 2. SETUP JAVA v21 (PERBAIKAN DI SINI: Upgrade 17 -> 21)
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Build React App
        run: bun run build

      - name: Add Android Platform & Sync
        run: |
          bunx cap add android
          bunx cap sync

      - name: Build APK with Gradle
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: titipin-app-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk